<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../static/partials/head.ejs %>


    <title>Brows by Chia</title>

  </head>
  <body>

      <!-- Navigation -->
    <% include ../static/partials/navbar.ejs %>



<main>

  <div>
        <div class="row text-center banner" id="homeSection">
          <img class="landingbanner" src="/images/chiaBrowLogo.png">
        </div>

        <div class="aboutDiv">
          <div class="aboutSection" id="aboutSection">
            <a class="aboutAnchor" id="aboutAnchor"></a>
            <span id="aboutTitle">
              About
            </span>
            <div id="aboutRectangle"></div>
            <div class="aboutDetails">
              <% about.forEach((about) => { %>
                <% if(about.sectionType === 'about'){ %>
                <h1><%= about.title %></h1>
                <%- about.description %>
                <% if(currentUser) { %>
                  <% if(currentUser.email === 'juddyhuynh@gmail.com') { %>
                   <a href="/about/new" class="btn btn-success">New Section Details</a>
                   <% } %>
                   <span class="editAboutlink">
                   <a href="/about/<%= about.id %>/edit" class="btn btn-warning"><img height= "16px" width="16px" src="/images/edit-icon.png"> About Details</a>
                  </span>
                 <% } %>
                <% } %>
              <% }) %>
            </div>
        </div>
       </div>

        <div class="servicesSection ">
          <span id="servicesTitle">
            Services
          </span>
          <div id="servicesRectangle"></div>
            <div class="row">
              <div id="browImageContainer" class=" col-sm">
                <img class="browImage img-fluid" src="/images/powderBrowSample.png">
              </div>
              <div class="col-sm servicesDetails">
                <% about.forEach((about) => { %>
                  <% if(about.sectionType === 'services'){ %>
                  <h2><%- about.title %></h2>
                    <%- about.description %>
                    <% if(currentUser) { %>
                       <span class="editServiceslink">
                       <a href="/about/<%= about.id %>/edit" class="btn btn-warning"><img height= "16px" width="16px" src="/images/edit-icon.png"> Services Details</a>
                      </span>
                     <% } %>
                  <% } %>
                <% }) %>
              </div>
            </div>
          </div>

        <div class="apptSection container-fluid">
          <span id="apptTitle">
            Appointments
            <span id="apptRectangle"></span>
          </span>

          <div class="row">
            <div class="col-sm apptDetails">
              <% about.forEach((about) => { %>
                <% if(about.sectionType === 'appointments'){ %>
                <h5><%- about.title %></h5>
                  <%- about.description %>
                  <% if(currentUser) { %>
                     <div class="editApptlink">
                     <a href="/about/<%= about.id %>/edit" class="btn btn-warning"><img height= "16px" width="16px" src="/images/edit-icon.png"> Appointment Details</a>
                   </div>
                   <% } %>

                <% } %>
              <% }) %>

            </div>

            <div class="col-sm border calendly">
              <!-- Calendly inline widget begin -->
              <div class="calendly-inline-widget" data-url="https://calendly.com/browsbychia" style="min-width:320px;height:580px;"></div>
              <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
              <!-- Calendly inline widget end -->

            </div>
            </div>

          </div>

          <div class=contactSection>
            <span id="contactTitle">
            Contact<br>
          </span>
          <span id="contactRectangle"></span>
          <span id= contactContent>

            <ion-icon name="mail" style="font-size:20px"></ion-icon> browsbychia@gmail.com<br>
            <ion-icon name="logo-instagram" style="font-size:20px"></ion-icon> browsbychia<br>
            <ion-icon name="pin" style="font-size:20px"></ion-icon> Daly City, CA<br>
          </span>
          </div>
  </div>
</main>



<% include ../static/partials/baseScripts.ejs %>



    </body>
</html>
